// Navigation Styles here
nav{
    display:inline-flex;
    text-align:center;
    padding:5px;
    justify-content: center;
    a{
        padding:15px;
        font-size: 35px;
        text-decoration: none;
        justify-content: center;
        color: @shark;
        border-bottom:1px dotted @silver;
        h2{
            font-size: 3.2rem;
            padding-bottom: 10px; 
        width:100%;
        margin-left:auto;
        margin
        }
}

}